<footer class="bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-4">
      <!-- Bottom Navigation -->
      <nav class="flex justify-center space-x-8">
        <!-- a href="." class="text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white text-sm">
          Home
        </a>
        <a href="trending" class="text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white text-sm">
          Trending
        </a>
        <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white text-sm">
          Tokens
        </a>
        <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white text-sm">
          NFTs
        </a>
        <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white text-sm">
          Transactions
        </a>
        <a href="about" class="text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white text-sm">
          About
        </a -->
      </nav>

      <!-- Copyright -->
      <div class="mt-4 flex justify-center text-gray-400 dark:text-gray-500 text-xs">
        <p>&copy; 2025 Eliza Labs. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>